.quote-body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.quote-header h2{
    font-size: 50px;
}

@media (max-width: 480px) {
    
    .quote-header h2 {
        font-size: 30px;
    }
}

@media (max-width: 398px) {
    .quote-body {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}