.footer {
    padding: 0px;
    max-width: 100%;
}

.footer-links i {
    font-size: 24px; /* Adjust size */
    padding-left: 20px;
    padding-right: 20px;
}

.facebook a:hover i {
    color: #4f81eb; /* Facebook blue on hover */
}

.instagram a:hover i {
    color: #ef2dd2; /* instagram pink on hover */
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-content {
    padding-top: 30px;
}

.privacy {
    padding-right: 7px;
    text-decoration: none;
    color: black;
}

.privacy:hover {
    color: #c8e456
}
