.navbar {
    background-color: #2b382b;
    padding: 15px;

}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu-items {
    top: 200px;
    left: 50px;
    right: 50px;
}

.logo {
    align-items: center;
    padding-left: 20px;
}

.logo-image:hover {
    border-color: #c8e456; /* Change this to your desired highlight color */
    transform: scale(1.05); /* Optional: slightly enlarge the logo on hover */
    border-radius: 20px;
    box-shadow: 0 0 5px #c8e456; /* Glow effect */

}
.logo-image {
    width: 300px; /* Fixed width to control size */
    max-width: 100%; /* Ensures the logo doesn't exceed the container width */
    height: auto; /* Maintains aspect ratio */
    transition: transform 0.3s; /* Smooth scaling transition */
    border-radius: 20px;
    background-color: #FFFFF0;
    transition: border-color 0.3s, transform 0.3s, box-shadow 0.3s;; /* Smooth transition for border color and scaling */
    border: 2px solid #c8e456; /* Initial border is transparent */
    display: inline-block; /* Ensures the container wraps the logo */
}

.menu-items {
    display: flex;
}

.menu-items a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu-items a:hover {
    color: #c8e456;

}

.mobile-logo-image {
    display: none;
}

/* Hamburger menu styles */
.hamburger {
    display: none; /* Hidden by default */
    /*font-size: 28px;
    color: white;
    cursor: pointer;*/
}

/* Mobile Styles */
@media (max-width: 905px) {

    .navbar nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
    }

    .navbar nav 

    .logo-container{
        display: none;
    }

    .mobile-logo-image {
        display: block;
        height: 25px;
    }

    .hamburger {
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .hamburger span {
        background-color: #FFFFF0;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        transition: all 0.3s ease-in-out;
    }

    .open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .open span:nth-child(2) {
        opacity: 0;
    }
    
    .open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .menu-items {
        display: none; /* Hide menu items by default */
        flex-direction: column; /* Stack items vertically */
        position: absolute; /* Position dropdown below navbar */
        top: 100px; /* Below the navbar */
        left: 0;
        width: 100%;
        background-color: #2b382b; /* Same as navbar */
    }

    .menu-items.open {
        display: flex; /* Show menu items when toggled */
    }

    .menu-items a {
        padding: 10px 0; /* Spacing for mobile */
        text-align: center;
        border-bottom: 1px solid #586c5e; /* Optional separator */
    }
}

@media (max-width:480px) {
    .mobile-logo-image {
        display: block;
        height: 25px;
    }
}

@media (max-width: 328px) {
    .menu-items.open {
        top: 45px;
    }
}

/* Desktop Styles */
@media (min-width: 905px) {
    .menu-items {
        display: flex; /* Show menu items by default */
    }

    .hamburger {
        display: none; /* Hide hamburger icon */
    }

    .mobile-logo {
        display: none;
    }

}